name: Build Win11DisableRoundedCorners

on:
  workflow_dispatch:
  push:
    branches: ["master"]

jobs:
  build:
    runs-on: windows-latest

    steps:
    - name: Checkout source
      uses: actions/checkout@v4

    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v2

    - name: Build x64
      run: |
        msbuild Win11DisableRoundedCorners.sln /p:Configuration=Release /p:Platform=x64

    - name: Prepare Artifact Output
      shell: powershell
      run: |
        mkdir ArtifactOutput\Release\x64 -Force

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: Win11DisableRoundedCorners
        path: ArtifactOutput/Release
